$TTL	604800
covid20.io.	IN	SOA	vm2.covid20.io. master.covid20.io. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
covid20.io.	IN	NS	vm2.covid20.io.
vm2	IN	A	{{ hostvars['my_vm_2']['ansible_default_ipv4']['address'] }}
vm1	IN	A	{{ hostvars['my_vm']['ansible_default_ipv4']['address'] }}