0 1 * * 0 backup [[ $((($(date +%s) / 604800) % 4)) == 0 ]] && /home/backup/scripts/mysql.sh
1 1 * * 0 backup [[ $((($(date +%s) / 604800) % 4)) == 0 ]] && /home/backup/scripts/influxdb.sh

# Upload all the backups every week at 1:00 (1 AM) on Sundays

2 1 * * 0  backup  duplicity --no-encryption full /home/backup/backup/ rsync://nanokoo@backup.{{ domain }}{{ top_level_domain }}//home/nanokoo/ &> /dev/null

# Delete old backups at 5:00 on Sundays every 2 weeks, store only 2 backups

0 5 * * 0  backup  [[ $((($(date +%s) / 604800) % 2)) == 0 ]] && duplicity --no-encryption remove-all-but-n-full 2 --force rsync://nanokoo@backup.{{ domain }}{{ top_level_domain }}//home/nanokoo/ &> /dev/null
