acl allowed_networks { {%- for n in allowed_networks%}
                        {{ n }};
                     {%- endfor %}
                     };
options {
	directory "/var/cache/bind";

	forwarders {
        {%- for f in dns_forwarders%}
            {{ f }};

        {%- endfor%}
	   
	 };

	dnssec-validation no;

	auth-nxdomain no;    # conform to RFC1035
	
};
zone {{ domain }}{{ top_level_domain }} {
     type master;
     file "/etc/bind/db.{{ domain }}";
};
{% for vm in groups['all'] %}
	zone "{{ hostvars[vm]['inventory_hostname'] }}." {
     	     type master;
     	     file "/etc/bind/db.{{ hostvars[vm]['inventory_hostname'] }}";
};
{% endfor %}


statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

