scrape_configs:
{% for job in prometheus_jobs %}
  - job_name: {{ job['name'] }}
    static_configs:
      - targets:
{% for target in job['targets'] %}
        - {{ target }}.{{ domain }}{{ top_level_domain }}:{{ job['port'] }}
{% endfor %}
{% endfor %}

#New jobs for Lab 13 - HAProxy

  - job_name: haproxy_exporter
    static_configs:
      - targets:
          {% for vm in groups['haproxy'] %}
            - {{ hostvars[vm]['inventory_hostname'] }}:{{ docker_haproxy_exporter_port }}
          {% endfor %}

  - job_name: keepalived_exporter
    static_configs:
      - targets:
          {% for vm in groups['haproxy'] %}
            - {{ hostvars[vm]['inventory_hostname'] }}:{{ keepalived_exporter_port }}
          {% endfor %}

          
